<div class="tab-content bg-white m-0 formSection">
	<div class="tab-pane active" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
		<div class=" d-flex align-items-center mt-3 mb-3">
			<div class="col-md-6 p-0">
				<label>My tabs 1</label>
				<form name="changepassword">
					{{ form.form_build_id }}
					{{ form.form_token }}
					{{ form.form_id }}
					<div class="form-group">
						{{ form.name }}
					</div>
					{{ form.container }}
				</form>
			</div>
		</div>
	</div>
</div>
